<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" >Hekimmaster'a Hoş geldiniz</h1>

        <p class="lead" >Anasayafa</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">Giriş yaptığınız hesap "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>İsterseniz  </span>
                <a class="alert-link" (click)="login()" >oturum aça bilir yada </a><span>, varsayılan hesapları deneye bilirsiniz<br/>- Administrator (login="admin" and password="admin") <br/>- Kullanıcı olarak (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Hesabınız yok mu? Hemen oluşturun </span>&nbsp;
                <a class="alert-link" routerLink="account/register" >Heabınızı oluşturun </a>
                <p-fullCalendar> </p-fullCalendar>
            </div>
        </div>

        <p>
            Hekimmaster ile ilgili sorularınızı yanıtlamaya hazırız.
        </p>

        <ul>
            <li><a href="https://www.hiraparl.com/" target="_blank" rel="noopener noreferrer" >hiraparl.com Hekimmaster </a></li>
            <li><a href="https://www.hiraparl.com/" target="_blank" rel="noopener noreferrer" > HİRA&PARL Yazılım</a></li>
            <li><a href="https://www.hiraparl.com/referanslar" target="_blank" rel="noopener noreferrer" >Şirket olarak referanslarımız </a></li>
            <li><a href="https://www.hiraparl.com/services" target="_blank" rel="noopener noreferrer" >Yerli ve milli konuşma uygulamamız MONOKL'ı deneyin </a></li>
            <li><a href="https://www.instagram.com/hiraparl/" target="_blank" rel="noopener noreferrer" >Bizi instagramda takip edin </a></li>
        </ul>

        <p>
            <span>Hekimmaster'ı beğendiyseniz yıldız verin</span> <a href="https://github.com/SlayerofGodss" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
