<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="randevu">
            <h2><span jhiTranslate="hekimmasterApp.randevu.detail.title">Randevu</span> {{ randevu.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hekimmasterApp.randevu.randevu">Randevu</span></dt>
                <dd>
                    <span>{{ randevu.randevu }}</span>
                </dd>
                <dt><span jhiTranslate="hekimmasterApp.randevu.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="randevu.patientId">
                        <a [routerLink]="['/patient', randevu.patientId, 'view']">{{ randevu.patientLastName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/randevu', randevu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
